nav{
    background-color: grey;
    color:white;
    font-weight: bold;
    font-size: larger;
    padding: 1%;
    border: solid rgb(243, 238, 238);
    display: flex;
    /* margin: 3%; */
    justify-content: space-between;
    position: static;
    align-items: center;
    }
    .form-1, .buttons,.instant,.split{
        margin: auto;
        justify-content: center;
        background-color: aqua;
        margin-bottom: 20px;
        width :50%;
        }
        label{
            display:block;
            font-family: 'poppins';
        }
        textarea{
            width :100%;  
            height: 300px;
            color: red;
            font-size: 30px;
            
        }
        .btn{
            display: flex;
            justify-content:center;       
        }
        .btn1{
            margin-right: 100px;
            width:100px;
            height:30px;
            color:red;
        }
        .btn2{
            margin-left:100px;
            width:100px;
            height:30px;
            color:red;
        }
        